#blog-html {
    img {
        width: 100%;
        padding: 1rem;
        border-top: 1px solid rgb(199, 199, 199);
        border-bottom: 1px solid rgb(199, 199, 199);
        object-fit: cover;
        height: auto;
        max-height: 500px;
        &::after {
            content: "";
            width: 200px;
            height: 200px;
            background: red;
            position: absolute;
            top: 50%;
            right: 50%;
        }
    }

    strong {
        color: #06A3DA !important;
    }
}