.banner {
    background-color: rgba(4, 42, 97, 0.878) !important;
    .banner-content {
        height: 100%;
        .banner-content_images img {
            height: 700px;
            width: 100%;
            max-width: 1000px;
            object-fit: cover;
        }
    }

    .button-banner {
        width: 100%;
        max-width: 189px;
    }
    .logo-banner {
        max-width: 400px !important;
    }
}


@media (max-width: 500px) {
    .banner .banner-content .banner-content_images img {
        height: 450px !important;
    }
}


@media (max-width: 992px) {
    
    .logo-banner {
        max-width: 400px !important;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}


@media (max-width: 768px) {
    .button-banner {
        width: 100%;
        max-width: 117px;
        text-align: center;
    }
}

.slick-next {
    display: none !important;
}

.slick-list {
    mask-image: linear-gradient(90deg, #0463FA 75%, transparent);
}

.slick-list img {
    mask-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
}

@media (max-width: 992px) {
    .slick-list {
        mask-image: linear-gradient(180deg, #0463FA 80%, transparent);
    }
}